.card{
    border : 2px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.country{
    border: 2px solid tomato;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}
.flags-img-container img{
width: 100px;
margin: 5px;
padding: 2px;
}
    
